#page-sustainability {
  overflow: hidden;

  .sustainability-section {
    position: relative;

    &__1,
    &__2,
    &__3 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
    }

    &__1 {
      background-image: url("../images/sustainability/sezione-1-sfondo.svg");
      padding: 20rem 0;

      @include breakpoint(small only) {
        background-position: right;
      }
    }

    &__2 {
      background-image: url("../images/sustainability/sezione-2-sfondo.svg");
      padding: 0rem 0 8rem;

      @include breakpoint(small medium large) {
        position: relative;
        top: -1px;
      }
    }

    &__3 {
      padding: 0 0 12rem 0;
      background-image: url("../images/sustainability/sezione-3-sfondo.svg");
      position: relative;

      @include breakpoint(small only) {
        padding: 0 0 14rem 0;
      }

      @include breakpoint(small medium large) {
        position: relative;
        top: -1px;
      }

      .btn-report {
        margin-top: 2rem;
      }

      #glasses {
        width: 400px;
        position: absolute;
        max-width: none;
        left: -200px;
        top: 100px;

        @include breakpoint(small only) {
          display: none;
        }
      }

      #paper {
        width: 400px;
        position: absolute;
        max-width: none;
        bottom: 100px;
        right: -200px;

        @include breakpoint(small only) {
          display: none;
        }
      }

      #pens {
        position: absolute;
        bottom: 0;
        right: 10%;
        height: 12rem;
      }
    }

    &__4 {
      .grey-bk {
        background-color: #f6f6f6;
      }

      .white-bk {
        background-color: #fff;
      }

      .grey-bk,
      .white-bk {
        padding: 2rem 0;
      }

      img {
        padding-right: 4rem;

        @include breakpoint(small down) {
          padding-right: 0;
        }
      }

      .vt-line {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #000;

        @include breakpoint(small down) {
          display: none;
        }
      }

      h3 {
        color: $susRed;
        font-weight: 700;
        margin-bottom: 2rem;
        font-size: 2rem;
      }

      h3,
      .btn-report {
        margin-left: 4rem;

        @include breakpoint(large down) {
          margin-left: 1rem;
        }

        @include breakpoint(small down) {
          margin-left: 0;
          display: block;
        }
      }

      video {
        height: auto;
        width: 100%;
        max-width: 400px;
        
        @include breakpoint(medium down) {
          margin-top: 2rem;
          margin-left: 1rem;
        }

        @include breakpoint(small down) {
          max-width: 100%;
          margin-left: 0;
        }

      }
    }

    h2 {
      font-size: 3em;
    }

    p {
      font-size: 1.3em;
    }

    .grid-container {
      position: relative;
    }

    .\--text-red {
      color: $susRed;
    }

    .\--text-white {
      color: #fff;
    }

    .\--text-yellow {
      color: $susYellow;
    }

    .\--font-bold {
      font-weight: bold;
    }
  }
}

@media print, screen and (max-width: 39.99875em) {
  #page-sustainability
    .sustainability-section
    #sostenibilita-icon-3
    + .align-right {
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media print, screen and (max-width: 39.99875em) {
  #page-sustainability
    .sustainability-section
    #sostenibilita-icon-3
    .sustainability-report-wrapper {
    text-align: center !important;
  }
  #page-sustainability
    .sustainability-section
    #sostenibilita-icon-3
    .sustainability-report-wrapper
    img {
    max-width: 18rem;
  }
}
@media print, screen and (max-width: 39.99875em) {
  #page-sustainability .sustainability-section #sostenibilita-icon-3 {
    left: -92px;
    top: 136px;
    width: 238px;
  }
}
#page-sustainability .sustainability-section #sostenibilita-report-cover {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
#page-sustainability .sustainability-section .grid-x {
  z-index: 3;
}
#page-sustainability .sustainability-section .btn-report {
  text-align: center;
  padding: 10px 35px;
  cursor: pointer;
  background-color: $susPink;
  text-transform: uppercase;
  color: #fff;
  border-radius: 250px;
  font-weight: 700;
  font-size: 14pt;

  &.green {
    background-color: $susGreen;
  }
}
@media print, screen and (max-width: 39.99875em) {
  #page-sustainability .sustainability-section .btn-report {
    padding: 10px 20px;
  }
}
#page-sustainability .mt-90px {
  margin-top: 90px;
}
@media print, screen and (max-width: 39.99875em) {
  #page-sustainability .mt-90px {
    margin-top: 0;
  }
}
#page-sustainability .video-wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
}
#page-sustainability .video-wrapper .vjs-big-play-button {
  opacity: 0;
}
#page-sustainability .video-wrapper .video-play-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#page-sustainability .video-wrapper .video-play-wrapper .video-play {
  margin: auto;
  display: block;
  text-align: center;
  padding: 10px 35px;
  cursor: pointer;
  background-color: #a21c3f;
  text-transform: uppercase;
  color: #fff;
  border-radius: 250px;
  font-weight: 700;
  font-size: 14pt;
}
