.barrow {
  position: relative;

  .orbit-next, .orbit-previous {
    svg {
      path {
        fill: #000;
      }
    }
  }
  figure.text {
    color: $white;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      font-family: "Noto Serif";
      font-weight: bold;
      font-size: 48pt;
      line-height: 48pt;

    }

    p {
      font-size: 14pt;
      line-height: 16.8pt;
      max-width: 600px;

    }
  }

  .orbit-bullets {
    position: absolute;
    bottom: 0;
    margin: 0 0 1rem 0;
    width: 100%;
    button {
      &:last-child {
        margin-right: 0;
      }
      width: 10px;
      height: 10px;
      margin-right: 15px;
      background-color: transparent !important;
      border: 2px solid $black;

      &.is-active {
        background-color: $black !important;
      }
    }
  }

  .cell {
    padding: 0 $marginLeft;
  }

  .orbit-container {
    height: $sectionHeight;

    @include breakpoint(small only) {
      height: 1000px;
    }

    .orbit-slide,
    .orbit-figure {
      height: 100%;
    }

    .orbit-figure.align-middle {
      @include breakpoint(small only) {
        padding: 2rem 0 0;
        align-items: flex-start;
      }
    }

    figure {
      color: $black;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      background-color: $lightYellow;
      h1 {
        font-family: "Almarai", sans-serif !important;
        text-align: center;
        font-weight: bold;
        color: $black;
        font-size: 50pt;
        line-height: 50pt;
        margin-bottom: 25px;
        max-width: 650px;
        height: 80px;
        @include breakpoint(small only) {
          font-size: 30pt;
          line-height: 30pt;
        }

        &.--blue {
          color: #0b7bbf;
        }

        &.--red {
          color: #a21c3f;
        }
      }

      p {
        min-height: 150px;
        text-align: center;
        font-family: "Almarai", sans-serif;
        color: $black;
        font-size: 16pt;
        line-height: 18pt;
        max-width: 650px;
      }

      a {
        color: $black;
        //text-decoration: underline;
      }

      .btn {
        margin: 25px auto;
        display: block;
        text-align: center;
        max-width: 280px;
        padding: 10px;
        background-color: $black;
        text-transform: uppercase;
        color: #fff;
        border-radius: 250px;
        font-weight: 700;
        font-size: 18pt;
        transition: all 0.2s ease-in-out;;

        &:hover {
          opacity: 0.7;
        }


      }


      &.slider-1 {

        background-image: url("../images/barrow_1.jpeg");

        @include breakpoint(small only) {
          background-image: url("../images/barrow_1_mb.jpeg");
          background-position: center center;
        }
      }

      &.slider-2 {

        background-image: url("../images/barrow_2.jpeg");
        background-color: #ffe0f4 !important;
        @include breakpoint(small only) {
          background-image: url("../images/barrow_2_mb.jpeg");
          background-position: center center;
        }
      }

    }

    .cell {
      padding: 0 $marginLeft;
    }
  }
  /*
  .orbit-bullets {
    position: absolute;
    bottom: 0;
    margin: 0 0 1rem 0;
    width: 100%;

    button {
      background-color: transparent;
      border-color: $black;
      cursor: pointer;
      width: 10px;
      height: 10px;

      &.is-active {
        background-color: $black !important;
      }
    }
  }
  */
  .social {
    position: absolute;
    bottom: $marginTop;
    left: $marginLeft;

    h4 {
      font-family: "Barlow";
      font-size: 16pt;
      margin-bottom: 0;

      @include breakpoint(small only) {
        font-size: 11pt;
      }
    }

    a {
      color: $white;
      font-size: 14pt;

      &:first-of-type {
        margin-right: 0.2rem;
      }
    }
  }
}
