.footer {
  position: relative;
  padding: 40px 0;
  color: $black;
  height: 100%;
  background-color: $footer-bg-color;
  .footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    ul {
      list-style-type: none;
      margin: 0;
      padding:0;
      width: 100%;
      display: flex;
      align-items: center;
      li {
        flex: 0 0 14%;
        width: 250px;


        &:first-child {
          flex: 0 0 5.5%;
          max-width: 5.5%;
        }
        &:nth-child(2){
          flex: 0 0 10%;
          max-width: 10%;
        }
        a {
          font-size: 12px;
          line-height: 12px;
        }
        i,p,a {
          color: #5B5A5A;
          font-weight: 700;
        }
        i {
          font-size: 20px;
        }
        @include breakpoint(medium down) {
          width: auto;
          max-width: 100% !important;
          margin-bottom: 20px;
          flex: 0 0 100% !important;
          text-align: center;
        }
      }
      @include breakpoint(medium down) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .footer-bottom {
    padding-top: 40px;
    @include breakpoint(medium down) {
      padding-top: 40px;
      padding-bottom: 0px;
      .logo {
        max-width: 150px;
        margin: auto auto 15px auto;
        display:block;
      }
      p {
        text-align: center;
      }
    }
    p {
      color: #5B5A5A;
      font-size: 14px;
      margin-bottom:0;
    }
  }
  a {
    color: $black;
  }

  strong {
    font-weight: 600;
  }

  .social {
    position: absolute;
    right: $marginLeft;
    top: $marginTop;

    a {
      color: $black;
    }

    a:first-child {
      margin-right: 0.2rem;
    }
  }
}
