$white: #ffffff;
$black: #000000;
$grey: #F2F2F2;
$grey-dark: #676766;
$purple: #230708;
$sand: #D7D5CD;
$green: #708B86;
$blue: #DAE2E6;
$yellow: #E8B64C;
$lightYellow: #dbdb04;
$footer-bg-color: #F1F2F7;
$pink : #ec9bbc;
$darkRed: #921e30;
$red: rgb(216, 91, 110);
$marginLeft: 2.5rem;
$marginTop: 1.5rem;
$sectionHeight: 850px;

$font-family: "Almarai",sans-serif;
$menu-font-family: "Almarai",sans-serif;
$boxSlide-width: 650px;

$susRed: #A21C3F;
$susPink: #CC5269;
$susYellow: #FFDC00;
$susGreen: #27A181;
